{:bwa-alignment
 {:resource "--aws-ec2-instance-type t2.2xlarge --disk-size 80",
  :image "genomon/bwa_alignment:0.2.0",
  :bamtofastq-option "collate=1 combs=1 exclude=QCFAIL,SECONDARY,SUPPLEMENTARY tryoq=1",
  :bwa-option "-t 8 -T 0",
  :bwa-reference-dir "s3://genomon-bucket-xcoo-archive-202001/_GRCh37/reference/GRCh37",
  :bwa-reference-file "GRCh37.fa",
  :bamsort-option "index=1 level=1 inputthreads=2 outputthreads=2 calmdnm=1 calmdnmrecompindentonly=1",
  :bammarkduplicates-option "markthreads=2 rewritebam=1 rewritebamlevel=1 index=1 md5=1"},
 :sv-parse
 {:resource "--aws-ec2-instance-type t2.large --disk-size 15",
  :image "chrovis-genomon/genomon_sv:feature-edlib",
  :genomon-sv-parse-option ""},
 :sv-merge
 {:resource "--aws-ec2-instance-type t2.large --disk-size 15",
  :image "chrovis-genomon/genomon_sv:feature-edlib",
  :genomon-sv-merge-option ""},
 :sv-filt
 {:resource "--aws-ec2-instance-type t2.large --disk-size 50",
  :image "chrovis-genomon/genomon_sv:feature-edlib",
  :reference "s3://genomon-bucket-xcoo-archive-202001/_GRCh37/reference/GRCh37/GRCh37.fa",
  :genomon-sv-filt-option "--grc --min_junc_num 2 --max_control_variant_read_pair 10 --min_overhang_size 30",
  :sv-utils-filt-option "--min_tumor_allele_freq 0.07 --max_control_variant_read_pair 1 --control_depth_thres 10 --inversion_size_thres 1000"},
 :star-alignment
 {:resource "--aws-ec2-instance-type t2.2xlarge --disk-size 128",
  :image "genomon/star_alignment",
  :bamtofastq-option "collate=1 combs=1 exclude=QCFAIL,SECONDARY,SUPPLEMENTARY tryoq=1",
  :star-option "--runThreadN 6 --readFilesCommand \\\"zcat -f\\\" --outSAMstrandField intronMotif --outSAMunmapped Within --alignMatesGapMax 500000 --alignIntronMax 500000 --alignSJstitchMismatchNmax -1 -1 -1 -1 --outSJfilterDistToOtherSJmin 0 0 0 0 --outSJfilterOverhangMin 12 12 12 12 --outSJfilterCountUniqueMin 1 1 1 1 --outSJfilterCountTotalMin 1 1 1 1 --chimSegmentMin 12 --chimJunctionOverhangMin 12 --outSAMtype BAM Unsorted",
  :star-reference "s3://genomon-bucket-xcoo-archive-202001/_GRCh37/reference/GRCh37.STAR-2.5.2a",
  :samtools-sort-option "-@ 6 -m 3G"},
 :fusion-count-control
 {:resource "--aws-ec2-instance-type t2.medium",
  :image "chrovis-genomon/fusionfusion:feature-no-blat",
  :chimera-utils-count-option nil},
 :fusion-merge-control
 {:resource "--aws-ec2-instance-type t2.medium",
  :image "chrovis-genomon/fusionfusion:feature-no-blat",
  :chimera-utils-merge-control-option nil},
 :fusionfusion
 {:resource "--aws-ec2-instance-type t2.large",
  :image "chrovis-genomon/fusionfusion:feature-no-blat",
  :fusionfusion-option "--grc --no_blat",
  :filt-option "--filter_same_gene --grc",
  :reference "s3://genomon-bucket-xcoo-archive-202001/_GRCh37/reference/GRCh37/GRCh37.fa"},
 :genomon-expression
 {:resource "--aws-ec2-instance-type t2.large",
  :image "genomon/genomon_expression:0.1.0",
  :genomon-expression-option "--grc"},
 :intron-retention
 {:resource "--aws-ec2-instance-type t2.large",
  :image "genomon/intron_retention:0.1.0",
  :intron-retention-option "--grc"},
 :paplot
 {:enable "True",
  :resource "--aws-ec2-instance-type t2.small",
  :image "genomon/paplot:0.1.0",
  :title "Genomon_RNA",
  :remarks "Data used in this report were generated using below software.",
  :software "star_alignment,fusionfusion,genomon_expression",
  :config-file "s3://genomon-bucket-xcoo-archive-202001/paplot-config/genomon_pipeline_cloud_v2.0.0/paplot_rna.cfg"}}
